@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

@font-face {
  font-family: AvantGarde;
  src: url(./fonts/ITCAvantGardeStdMd.otf);
}

$brand-blue: #3da5d9;
$brand-red: #f02d3a;
$brand-background: #0b1d51;
$brand-white: #fafaff;
$brand-black: #2a2d34;

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;

  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;

  min-width: 100%;
  min-height: 300vh;

  background-color: $brand-background;
}

body {
  background-image: url(./media/bg.svg);
  height: 100%;
  opacity: 1;
  background-size: cover;
  background-position: top;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  @media (max-width: 947px) {
    padding: 0 30px;
  }
}

.my-navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  background: rgba(12, 12, 12, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: $brand-blue 5px solid;

  .sticky {
    padding: 15px 0;
    background: rgba(12, 12, 12, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    .logo {
      a {
        span {
          color: #fff;
        }
      }
    }

    .menu {
      li {
        a {
          &:hover {
            color: $brand-red;
          }
        }
      }
    }
  }

  .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    a {
      color: #fff;
      font-size: 35px;
      font-weight: 600;

      span {
        color: $brand-red;
        transition: all 0.3s ease;
      }
    }
  }

  img {
    height: 36px;
  }

  .menu {
    li {
      list-style: none;
      display: inline-block;

      a {
        display: block;
        color: #fff;
        font-size: 22px;
        font-weight: 500;
        margin-left: 25px;
        transition: color 0.3s ease;
        text-decoration: none;
        &:hover {
          color: $brand-red;
          text-decoration: none;
        }
      }
    }
  }
  @media (max-width: 1100px) {
    .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: rgba(12, 12, 12, 0.712);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;

      li {
        display: block;

        a {
          display: inline-block;
          margin: 20px 0;
          font-size: 25px;
        }
      }
    }

    img {
      height: 24px;
    }

    .sticky {
      padding: 15px 0;
      background: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
    }

    .menu.active {
      left: 0;
    }
  }
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;

  @media (max-width: 1100px) {
    display: block;
    z-index: 999;
  }
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: $brand-red;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  .show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
  }
  &:hover {
    filter: brightness(90%);
  }
}

.underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: $brand-red;
  transition: width 0.3s;
}

.underline:hover::after {
  width: 100%;
  transition: width 0.3s;
}

h2 {
  padding: 20px;
  font-family: AvantGarde;
  color: $brand-white;
  font-size: 64px;
  padding-top: 120px;
  font-weight: bold;
  background-color: $brand-background;
  margin: 0;

  @media (max-width: 600px) {
    font-size: 32px;
  }
}

header {
  width: 100%;
  height: 70vh;
  text-align: center;

  img {
    margin-top: 20vh;
    width: 30vh;
  }
}

/* gallery */

#gallery {
  float: left;
  height: auto;
  width: 100%;

  * {
    background-color: $brand-background;
    background-image: url(./media/Trianglify.png);
  }
}

div.stretchy-wrapper {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;

  background: blue;

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: white;
    font-size: 24px;
    text-align: center;
  }
}

.slides {
  display: none;
}

.one-one {
  width: 20%;
  height: 20vw;
  float: left;
  background: $brand-red !important;
  border-bottom: $brand-red 15px solid;

  img {
    background: none !important;
  }
}
